<div class="homepage">
    <article class="main-article">
    </article>
    <article class="category">
    </article>
    <article class="category">
    </article>
    <article class="category">
    </article>
    <article class="category">
    </article>
    <article class="category">
    </article>
    <article class="category">
    </article>
    <article class="category">
    </article>
</div>